In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data= pd.read_csv('C:/Users/user/Downloads/dataset.csv')

In [3]:
data.head(5)

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,icu_admit_source,...,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem,Unnamed: 83,hospital_death
0,66154,25312,118,68.0,22.73,0,Caucasian,M,180.3,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular,NaN,0
1,114252,59342,81,77.0,27.42,0,Caucasian,F,160.0,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory,NaN,0
2,119783,50777,118,25.0,31.95,0,Caucasian,F,172.7,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic,NaN,0
3,79267,46918,118,81.0,22.64,1,Caucasian,F,165.1,Operating Room / Recovery,...,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,NaN,0
4,92056,34377,33,19.0,NaN,0,Caucasian,M,188.0,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma,NaN,0

In [116]:
data.describe()

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,height,icu_id,pre_icu_los_days,weight,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,Unnamed: 83,hospital_death
count,91713.000000,91713.000000,91713.000000,87485.000000,88284.000000,91713.000000,90379.000000,91713.000000,91713.000000,88993.000000,...,90998.000000,90998.000000,90998.000000,90998.000000,90998.000000,90998.000000,90998.000000,90998.000000,0.0,91713.000000
mean,65606.079280,65537.131464,105.669262,62.309516,29.185818,0.183736,169.641588,508.357692,0.835766,84.028340,...,0.000857,0.015693,0.225192,0.012989,0.026165,0.007066,0.004132,0.020638,NaN,0.086302
std,37795.088538,37811.252183,62.854406,16.775119,8.275142,0.387271,10.795378,228.989661,2.487756,25.011497,...,0.029265,0.124284,0.417711,0.113229,0.159628,0.083763,0.064148,0.142169,NaN,0.280811
min,1.000000,1.000000,2.000000,16.000000,14.844926,0.000000,137.200000,82.000000,-24.947222,38.600000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,32852.000000,32830.000000,47.000000,52.000000,23.641975,0.000000,162.500000,369.000000,0.035417,66.800000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
50%,65665.000000,65413.000000,109.000000,65.000000,27.654655,0.000000,170.100000,504.000000,0.138889,80.300000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
75%,98342.000000,98298.000000,161.000000,75.000000,32.930206,0.000000,177.800000,679.000000,0.409028,97.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
max,131051.000000,131051.000000,204.000000,89.000000,67.814990,1.000000,195.590000,927.000000,159.090972,186.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000

In [117]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91713 entries, 0 to 91712
Data columns (total 85 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   encounter_id                   91713 non-null  int64
 1   patient_id                     91713 non-null  int64
 2   hospital_id                    91713 non-null  int64
 3   age                            87485 non-null  float64
 4   bmi                            88284 non-null  float64
 5   elective_surgery               91713 non-null  int64
 6   ethnicity                      90318 non-null  object
 7   gender                         91688 non-null  object
 8   height                         90379 non-null  float64
 9   icu_admit_source               91601 non-null  object
 10  icu_id                         91713 non-null  int64
 11  icu_stay_type                  91713 non-null  object
 12  icu_type                       91713 non-null  object
 13  pre_icu_los_days               91713 non-null  float64
 14  weight                         88993 non-null  float64
 15  apache_2_diagnosis             90051 non-null  float64
 16  apache_3j_diagnosis            90612 non-null  float64
 17  apache_post_operative          91713 non-null  int64
 18  arf_apache                     90998 non-null  float64
 19  gcs_eyes_apache                89812 non-null  float64
 20  gcs_motor_apache               89812 non-null  float64
 21  gcs_unable_apache              90676 non-null  float64
 22  gcs_verbal_apache              89812 non-null  float64
 23  heart_rate_apache              90835 non-null  float64
 24  intubated_apache               90998 non-null  float64
 25  map_apache                     90719 non-null  float64
 26  resprate_apache                90479 non-null  float64
 27  temp_apache                    87605 non-null  float64
 28  ventilated_apache              90998 non-null  float64
 29  d1_diasbp_max                  91548 non-null  float64
 30  d1_diasbp_min                  91548 non-null  float64
 31  d1_diasbp_noninvasive_max      90673 non-null  float64
 32  d1_diasbp_noninvasive_min      90673 non-null  float64
 33  d1_heartrate_max               91568 non-null  float64
 34  d1_heartrate_min               91568 non-null  float64
 35  d1_mbp_max                     91493 non-null  float64
 36  d1_mbp_min                     91493 non-null  float64
 37  d1_mbp_noninvasive_max         90234 non-null  float64
 38  d1_mbp_noninvasive_min         90234 non-null  float64
 39  d1_resprate_max                91328 non-null  float64
 40  d1_resprate_min                91328 non-null  float64
 41  d1_spo2_max                    91380 non-null  float64
 42  d1_spo2_min                    91380 non-null  float64
 43  d1_sysbp_max                   91554 non-null  float64
 44  d1_sysbp_min                   91554 non-null  float64
 45  d1_sysbp_noninvasive_max       90686 non-null  float64
 46  d1_sysbp_noninvasive_min       90686 non-null  float64
 47  d1_temp_max                    89389 non-null  float64
 48  d1_temp_min                    89389 non-null  float64
 49  h1_diasbp_max                  88094 non-null  float64
 50  h1_diasbp_min                  88094 non-null  float64
 51  h1_diasbp_noninvasive_max      84363 non-null  float64
 52  h1_diasbp_noninvasive_min      84363 non-null  float64
 53  h1_heartrate_max               88923 non-null  float64
 54  h1_heartrate_min               88923 non-null  float64
 55  h1_mbp_max                     87074 non-null  float64
 56  h1_mbp_min                     87074 non-null  float64
 57  h1_mbp_noninvasive_max         82629 non-null  float64
 58  h1_mbp_noninvasive_min         82629 non-null  float64
 59  h1_resprate_max                87356 non-null  float64
 60  h1_resprate_min                87356 non-null  float64
 61  h1_spo2_max                    87528 non-null  float64
 62  h1_spo2_min                    87528 non-null  float64
 63  h1_sysbp_max                   88102 non-null  float64
 64  h1_sysbp_min                   88102 non-null  float64
 65  h1_sysbp_noninvasive_max       84372 non-null  float64
 66  h1_sysbp_noninvasive_min       84372 non-null  float64
 67  d1_glucose_max                 85906 non-null  float64
 68  d1_glucose_min                 85906 non-null  float64
 69  d1_potassium_max               82128 non-null  float64
 70  d1_potassium_min               82128 non-null  float64
 71  apache_4a_hospital_death_prob  83766 non-null  float64
 72  apache_4a_icu_death_prob       83766 non-null  float64
 73  aids                           90998 non-null  float64
 74  cirrhosis                      90998 non-null  float64
 75  diabetes_mellitus              90998 non-null  float64
 76  hepatic_failure                90998 non-null  float64
 77  immunosuppression              90998 non-null  float64
 78  leukemia                       90998 non-null  float64
 79  lymphoma                       90998 non-null  float64
 80  solid_tumor_with_metastasis    90998 non-null  float64
 81  apache_3j_bodysystem           90051 non-null  object
 82  apache_2_bodysystem            90051 non-null  object
 83  Unnamed: 83                    0 non-null      float64
 84  hospital_death                 91713 non-null  int64
dtypes: float64(71), int64(7), object(7)
memory usage: 59.5+ MB

In [118]:
data.isna().sum()

encounter_id                       0
patient_id                         0
hospital_id                        0
age                             4228
bmi                             3429
                               ...
solid_tumor_with_metastasis      715
apache_3j_bodysystem            1662
apache_2_bodysystem             1662
Unnamed: 83                    91713
hospital_death                     0
Length: 85, dtype: int64

In [8]:
features = data[['age', 'bmi', 'apache_2_diagnosis','apache_3j_diagnosis','solid_tumor_with_metastasis','lymphoma','leukemia','immunosuppression',
                    'hepatic_failure','diabetes_mellitus','cirrhosis','aids','d1_spo2_max','d1_spo2_min','d1_diasbp_min','d1_diasbp_max',
                    'd1_sysbp_min','d1_sysbp_max','resprate_apache','heart_rate_apache','apache_4a_icu_death_prob','apache_4a_hospital_death_prob']]

In [9]:
features

,age,bmi,apache_2_diagnosis,apache_3j_diagnosis,solid_tumor_with_metastasis,lymphoma,leukemia,immunosuppression,hepatic_failure,diabetes_mellitus,...,d1_spo2_max,d1_spo2_min,d1_diasbp_min,d1_diasbp_max,d1_sysbp_min,d1_sysbp_max,resprate_apache,heart_rate_apache,apache_4a_icu_death_prob,apache_4a_hospital_death_prob
0,68.0,22.730000,113.0,502.01,0.0,0.0,0.0,0.0,0.0,1.0,...,100.0,74.0,37.0,68.0,73.0,131.0,36.0,118.0,0.05,0.10
1,77.0,27.420000,108.0,203.01,0.0,0.0,0.0,0.0,0.0,1.0,...,100.0,70.0,31.0,95.0,67.0,159.0,33.0,120.0,0.29,0.47
2,25.0,31.950000,122.0,703.03,0.0,0.0,0.0,0.0,0.0,0.0,...,98.0,91.0,48.0,88.0,105.0,148.0,37.0,102.0,0.00,0.00
3,81.0,22.640000,203.0,1206.03,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,95.0,42.0,48.0,84.0,158.0,4.0,114.0,0.03,0.04
4,19.0,NaN,119.0,601.01,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,96.0,57.0,99.0,120.0,147.0,16.0,60.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91708,75.0,23.060250,113.0,501.06,1.0,0.0,0.0,0.0,0.0,1.0,...,100.0,85.0,44.0,104.0,67.0,128.0,9.0,115.0,0.05,0.12
91709,56.0,47.179671,113.0,501.05,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,45.0,40.0,73.0,65.0,127.0,33.0,100.0,0.02,0.03
91710,48.0,27.236914,123.0,702.01,0.0,0.0,0.0,0.0,0.0,1.0,...,99.0,81.0,49.0,77.0,75.0,110.0,4.0,158.0,0.02,0.05
91711,NaN,23.297481,108.0,203.01,0.0,0.0,0.0,0.0,0.0,0.0,...,99.0,83.0,32.0,99.0,111.0,153.0,14.0,60.0,0.02,0.07
91712,82.0,22.031250,304.0,1409.02,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,91.0,32.0,47.0,85.0,110.0,4.0,101.0,0.08,0.19

In [11]:
features.isna().sum()

age                              4228
bmi                              3429
apache_2_diagnosis               1662
apache_3j_diagnosis              1101
solid_tumor_with_metastasis       715
lymphoma                          715
leukemia                          715
immunosuppression                 715
hepatic_failure                   715
diabetes_mellitus                 715
cirrhosis                         715
aids                              715
d1_spo2_max                       333
d1_spo2_min                       333
d1_diasbp_min                     165
d1_diasbp_max                     165
d1_sysbp_min                      159
d1_sysbp_max                      159
resprate_apache                  1234
heart_rate_apache                 878
apache_4a_icu_death_prob         7947
apache_4a_hospital_death_prob    7947
dtype: int64

In [12]:
for column in features.columns:
    if features[column].dtype =='float64' or feature[column].dtype=='int64':
        feat_mean = features[column].mean()
        features[column].fillna(feat_mean, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_11552\2248257659.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features[column].fillna(feat_mean, inplace=True)

In [13]:
features.isna().sum()

age                              0
bmi                              0
apache_2_diagnosis               0
apache_3j_diagnosis              0
solid_tumor_with_metastasis      0
lymphoma                         0
leukemia                         0
immunosuppression                0
hepatic_failure                  0
diabetes_mellitus                0
cirrhosis                        0
aids                             0
d1_spo2_max                      0
d1_spo2_min                      0
d1_diasbp_min                    0
d1_diasbp_max                    0
d1_sysbp_min                     0
d1_sysbp_max                     0
resprate_apache                  0
heart_rate_apache                0
apache_4a_icu_death_prob         0
apache_4a_hospital_death_prob    0
dtype: int64

In [15]:
label = data['hospital_death']

In [16]:
label

0        0
1        0
2        0
3        0
4        0
        ..
91708    0
91709    0
91710    0
91711    0
91712    0
Name: hospital_death, Length: 91713, dtype: int64

In [18]:
label.isna().sum()

0

In [19]:
label.unique()

array([0, 1], dtype=int64)